.watchlist-wrapper{
    padding: 32px 36px;
    flex-direction: column;
    // height: 100%;
    position: absolute;
}
.watchlist-title{
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 24.5px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}