.reel-header{
    padding: 20px 0;
}
.reel-title{
    color: #FFF;
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    line-height: 41.99px; 
    letter-spacing: 0.25px;
}
.reel-search-input{
    padding: 20px 0;
    text-indent: 15px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px; 
    letter-spacing: 0.15px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.23);
    background-color: transparent;
    margin: 20px 0px;
    outline: none;
}
.reel-table{
    width: 100%;
    border: 1px solid #DBCFEA;
    text-align: left;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #85CCE8;  
    border: none;
    // padding: 16px;

}
.reel-table-header tr th:first-child{
    text-align: left;
}
.reel-table-header tr th{
    padding: 19px 16px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 0.15px;
    text-align: right;
}
th, td {
    padding: 16px;
}
th, td {
    border-bottom: 1px solid #fff;
}
.table-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px 0;
    gap: 30px;
}
.pagination-btn{
    border: none;
    background-color: transparent;
    color: #87CEEB;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.02px; 
    letter-spacing: 0.15px;
}
.active-page{
    padding: 7.99px 0px 8.01px 0px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.16);
}
.arrow{
  color: #87CEEB;
  cursor: pointer;
  font-size: 22px;
  border: none;
  background-color: transparent;
}
.active-page{
    background-color: #515151;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}